* {
  font-family: Arial, sans-serif;
}

#hibiscus {
  width: 50px !important;
  height: 50px !important;
  margin-top: -40px;
  margin-left: -7px;
  filter: url(#monochrome);
}

.defs-only {
  position: absolute;
  height: 0; width: 0;
  overflow: none;
  left: -100%;
}

.divider {
  display: block;
  position: absolute;
  top: -18px;
  right: 136px;
  font-size: 1.2em;
}

.divider2 {
  display: block;
  position: absolute;
  top: -18px;
  right: 51px;
  font-size: 1.2em;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-style: italic;
} 

.page1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-weight: lighter;
  letter-spacing: 5px;
  text-align: center;
}

li {
  display: block;
  float: right;
  position: relative;
  top: 4px;
  padding-bottom: 4px;
}

li a {
  padding: 8px;
  text-decoration: none;
  font-size: 1.25em;
  color: black;
}