* {
  font-family: Arial, sans-serif;
}

#hibiscus {
  height: 50px;
  width: 50px;
  margin-top: -25px;
  margin-left: -7px;
  filter: url(#monochrome);
}

.defs-only {
  position: absolute;
  height: 0; width: 0;
  overflow: none;
  left: -100%;
}

.divider {
  display:block;
  position:absolute;
  top:-12px;
  right: 115px;
}

.divider2 {

  display: block;
  position: absolute;
  top: -12px;
  right: 44px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-style: italic;
} 

li {
  display: block;
  float: right;
  position: relative;
}

li a {
  padding: 8px;
}